<%- include('partials/header'); -%>
<section class="about-section ">
    <div class="about-section-container">
        <nav class="main-nav">
            <div class="nav-brand"></div>
            <div class="navbar-items">
                <ul class="navbar-nav">
                    <li class="navbar-item">
                        <a href="/" class="navbar-link">Home</a>
                    </li>
                    <li class="navbar-item">
                        <a href="/about" class="navbar-link">About</a>
                    </li>
                    <li class="navbar-item">
                        <a href="/portfolio" class="navbar-link">Portfolio</a>
                    </li>
                    <li class="navbar-item">
                        <a href="/blog" class="navbar-link">Blog</a>
                    </li>
                </ul>
            </div>
        </nav>
        <h2>About</h2>
    <div class="profile-container">
        <div class="profile-image">
            <img src="/profile.jpg" alt="profile-pic">
        </div>
        <div class="profile-text">
            <p class="main-text">
                I'm a fulltime self-taught web developer, with a passion for dynamic web appplications, with fast loading time, acheived by update to date techonlogies.
            </p>
            <p class="sub-text">
                Join me on this wonderful yet tasking experience, to create an amazing future, through dynamic user experience.
            </p>
        </div>
    </div>
    <div class="skills">
        <div class="technology-container"></div>
        <div class="technology-container"></div>
        <div class="technology-container"></div>
        <div class="technology-container"></div>
        <div class="technology-container"></div>
        <div class="technology-container"></div>
        <div class="technology-container"></div>
        <div class="technology-container"></div>
        <div class="technology-container"></div>
        <div class="technology-container"></div>
    </div>
    </div>
</section>