<%- include('partials/header'); -%>

<section class="portfolio-section ">
    
    <div class="portfolio-section-container">
        <h2>Portfolio</h2>
    <div class="portfolio-container">
       
            <div class="portfolio-card">
                <div class="project-image"></div>
                <div class="project-detail">
                    <p class="project-text"></p>
                    <button class="btn-project-summary">View More</button>
                </div>
            </div>
            <div class="portfolio-card">
                <div class="project-image"></div>
                <div class="project-detail">
                    <p class="project-text"></p>
                    <button class="btn-project-summary">View More</button>
                </div>
            </div>
            <div class="portfolio-card">
                <div class="project-image"></div>
                <div class="project-detail">
                    <p class="project-text"></p>
                    <button class="btn-project-summary">View More</button>
                </div>
            </div>
            <div class="portfolio-card">
                <div class="project-image"></div>
                <div class="project-detail">
                    <p class="project-text"></p>
                    <button class="btn-project-summary">View More</button>
                </div>
            </div>
            <div class="portfolio-card">
                <div class="project-image"></div>
                <div class="project-detail">
                    <p class="project-text"></p>
                    <button class="btn-project-summary">View More</button>
                </div>
            </div>
            <div class="portfolio-card">
                <div class="project-image"></div>
                <div class="project-detail">
                    <p class="project-text"></p>
                    <button class="btn-project-summary">View More</button>
                </div>
    
        
    </div>
    </div>
    
    
</section>