// mixins

// mixins for containers
@mixin container {
  width: 80%;
  margin: 0 auto;

  h2 {
    text-align: center;
    // border-bottom: 2px solid orange;
  }
}

@mixin grid($template-columns, $template-rows) {
  display: grid;
  grid-template-columns: $template-columns;
  grid-template-rows: $template-rows;
}

@mixin section($color) {
  min-height: 100vh;
  background-color: $color;
}
// moved button from components
@mixin button($padding, $border, $border-radius, $bg-color, $color) {
  padding: $padding;
  border-radius: $border-radius;
  background-color: $bg-color;
  border: $border;
  color: $color;
}

@mixin rwd($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 400px) {
      @content;
    }
  }

  @if $breakpoint == tablet {
    @media (min-width: 600px) {
      @content;
    }
  }
  @if $breakpoint == tablet2 {
    @media (min-width: 900px) {
      @content;
    }
  }
  @if $breakpoint == desktop {
    @media (min-width: 1200px) {
      @content;
    }
  }
  @if $breakpoint == bigscreens {
    @media (min-width: 1800px) {
      @content;
    }
  }
}
