@use 'variables' as base;

*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body,
nav,
ul {
  margin: 0;
  padding: 0;
}

html {
  font-size: base.$base-text;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: base.$secondary-font-stack;
}

h2 {
  padding: 1em 0.5em;
  margin-top: 0;
  text-align: center;
}

p {
  font-family: base.$primary-font-stack;
}

img {
  width: 100%;
  display: block;
}

button {
  outline: none;
  font-size: base.$base-text;
}

a {
  text-decoration: none;
}

// basic styling for lists and links

ul {
  li {
    list-style-type: none;

    a {
      text-decoration: none;
    }
  }
}
